/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Josefin+Sans&family=Lexend+Deca:wght@100;200;300&family=Livvic:wght@100&family=Montserrat:wght@300&family=Orelega+One&family=Poppins:wght@500&family=Roboto:wght@500&family=Ubuntu:ital,wght@0,400;1,300&display=swap');


.navbar-bg-color {
    font-weight: 600;
    background-color: #F2F2F2;
}

.search {
    font-weight: 600;
}
.header-button{
    font-weight: 700;
}

.header-container {
    background-color: #ffffff;
}

.header-title {
    color: #808080;
}

.category-image {
    width: 150px;
}

.card-image {
    width: 452px;
    height: 250px;
}
